
.aboutus-container {
    background-image: url(../assets/hoppersleepy.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

.aboutus-text {
    padding: 10%;
    color: white;
    font-size: 20px;
    margin-bottom: 100%;
}