
.aboutus-container {
    background-image: url(../assets/hoppersleepy.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-color: black;
}

.aboutus-text {
    display: flex;
    flex-direction: column;
    align-items: row;

    width: 50vw;
    height: 100%;

    padding-top: 90px;
    padding-bottom: 100%;

    color: rgb(255, 255, 255);
    font-size: 25px;

}