.navbar {
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 25px;
    margin-left: 25px;
    font-size: 25px;
    -webkit-text-stroke-width: px;
    -webkit-text-stroke-color: black;
    color: white;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    color: rgb(246, 198, 221);
}
