.dating-container{
  background-image: url(../assets/nightsky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(0, 0, 0);
  background-size: cover; /* This will make the background image cover the entire body */
}

.profile-page{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.profile-container {
    width: 50%;
    height: 65%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgb(246, 198, 221);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 2s;
  }

  .profile-container.left {
    left: -9999px;
  }
  
  .profile-container.right {
    left: 9999px;
  }

  .profile-title h1 {
    font-size: 24px;
  }

  .profile-image {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border-color: black;
    border-style:solid;
    margin: auto;
    display: block;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
  }

  .grid-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .button-image {
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
  }

  .accept-reject {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  .check{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    color: green;
    background: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .x {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    color: red;
    background: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  img {
    background-image:url('../assets/hopper.png');
    background-repeat: no-repeat;
    background-position: center;
  }